
    body {
      background-color: rgba(27, 26, 26, 0.75);
    }

    .column {
      text-align: center;
    }

    #mycan {
      background-color: #ff5c33;
      border: 7.5px solid rgba(0, 0, 0, 0.9);
    }
    




    .button {
      background-color: #FFFFFF;
      border: 1px solid #DDDDDD;
      border-radius: 8px;
      box-sizing: border-box;
      color: #ff5c33;
      cursor: pointer;
      display: inline-block;
      font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      margin: 0;
      outline: none;
      padding: 13px 23px;
      position: relative;
      text-align: center;
      text-decoration: none;
      touch-action: manipulation;
      transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
      user-select: none;
      -webkit-user-select: none;
      width: auto;

    }
    .buttonChange {
      background-color: #FFFFFF;
      border: 1px solid #DDDDDD;
      border-radius: 8px;
      box-sizing: border-box;
      color: #ff5c33;
      cursor: pointer;
      display: inline-block;
      font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      margin: 0;
      outline: none;
      padding: 10px 10px;
      position: relative;
      text-align: center;
      text-decoration: none;
      touch-action: manipulation;
      transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
      user-select: none;
      -webkit-user-select: none;
      width: auto;

    }

    .button:focus-visible {
      box-shadow: #F7F7F7 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
      transition: box-shadow .2s;
    }

    .button:active {
      background-color: #F7F7F7;
      border-color: #F7F7F7;
      transform: scale(.90);
    }

    .button:disabled {
      border-color: #DDDDDD;
      color: #DDDDDD;
      cursor: not-allowed;
      opacity: 1;
    }

    .header {
      text-align: center;
      font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
      font-size: 60px;
      font-weight: 600;
      line-height: 70px;

    }
    .skins {
      text-align: center;
      font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
      font-size: 15px;
      font-weight: 600;
      line-height: 30px;

    }
